{erl_opts, [debug_info]}.
{deps, [
  {jsx, "~> 3.0"}
]}.

{relx, [{release, {dta, "0.1.0"},
  [
    sasl,
    dta,
    web
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [
  {prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
  },
  {test, [{deps, [meck]}]}
]
}.

{escript_main_app, scrape}.
{escript_shebang, "#!/usr/local/bin/escript\n"}.
{escript_incl_apps, [jsx]}.
